
*{
    margin: 0;
    padding: 0;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: rgb(178, 219, 247);
}

@font-face {
    font-family: 'People book';
    src: url('fonts/PEOPLE\ BOOK.otf');
}

@font-face {
    font-family: 'Comical';
    src: url('fonts/LT\ Comical.ttf');
}

input, button {
    border: none;
    font: inherit;
    outline: none;
    color: inherit;

    
    border-radius: .5em;
    background-color: #adb6f1;
    border: white 2px solid;
    padding: .5em .2em;
}

body > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: Comical, serif;
}

body div h1 {
    font-family: 'People book';
    font-size: 5em;
    text-align: center;
    color: rgb(156, 94, 156);
    font-weight: normal;
    margin: .4em 0;
}
body div .row {
    text-align: center;
    color: #a25acf;
    font-size: 1.3em;
}

button {
    cursor: pointer;
}
input {
    width: 12em;
    box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 0px 2px inset;

    text-align: center;
}
.App {
    text-align: center;
}
canvas {
    display: block;
}
button {
    margin-left: 1em;
    background-clip: padding-box;
}
button:active {
    box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 0px 2px inset;
    border-color: transparent;
}

.inp-screen canvas.full {
    display: none;
}
.game-screen div.full {
    display: none;
}

.full {
    width: 100%;
    height: 100vh;
}

.leaderboard {
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    font-size: 1.1em;
}
.leaderboard-item {
    display: flex;
    flex-direction: row;
}
.leaderboard-item > div {
    margin: 0 1em;
}

.gamemode {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1em 0;
}

.gamemode-time {
    background:rgb(122, 157, 231);
    border: 2px solid rgb(17, 78, 192);
    color: #5656ef;
}
.gamemode-score {
    background:rgb(243, 195, 105);
    border: 2px solid rgb(230, 157, 23);
    color: #d28b1a;
}

.gamemode > div {
    margin: 0 1em;
    border-radius: 1.5em;
    cursor: pointer;
    user-select: none;
    text-align: center;
    width: 7em;
    height: 7em;
}
.gamemode > div > * {
    margin-top: 2.2em;
    display: inline-block;
    vertical-align: middle;
}
.gamemode img {
    width: 2em;
    height: 2em;
    margin-right: .5em;
    margin-top: 2.4em;
}
.gamemode > div p {
    font-size: 1.2em;
    /* font-weight: bold; */
}
.gamemode > div.active {
    box-shadow: 0 0 0 2px white;
}

.gamemode > div:active {
    box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 0px 2px inset;
}

.score {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);
    font-size: 2em;
    color: #a25acf;
}