
*{
    margin: 0;
    padding: 0;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: rgb(178, 219, 247);
}
.App {
    text-align: center;
}

button {
    margin-left: 1em;
}

.inp-screen canvas.full {
    display: none;
}
.game-screen div.full {
    display: none;
}

.full {
    width: 100%;
    height: 100vh;
}

body > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.leaderboard {
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.leaderboard-item {
    display: flex;
    flex-direction: row;
}
.leaderboard-item > div {
    margin: 0 1em;
}